/* You can add global styles to this file, and also import other style files */

h1 {
  font-weight: 500 !important;

  i {
    font-style: normal;
    font-weight: 300 !important;
  }
}

.clickable {
  cursor: pointer;
}

.strong {
  font-weight: bold;
}
